@model EntityLayer.Concrete.Brand

@{

    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<div class="container-fluid ">
    <style>
        label {
            text-transform: uppercase
        }

        select {
            text-transform: capitalize
        }

        h3 {
            color: red
        }
    </style>


    <form class="form-group " method="post">

        <input type="hidden" asp-for="BrandID" />
        <label>Brand Name</label>
        <br />
        <input type="text" class="form-control col-4" asp-for="BrandName" />
        @*<h3> <span asp-validation-for="ProductName"></span></h3>*@
        <br />
        <button class="  btn  btn-success">ADD</button>
        <a style="margin-left:1%" href="/Brand/Index" class="btn btn-info">BACK</a>
    </form>
</div>

