@model EntityLayer.Concrete.Brand



<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<div class="container-fluid ">




    <style>
        label {
            text-transform: uppercase
        }

        select {
            text-transform: capitalize
        }

        h3 {
            color: red
        }
    </style>




    <form asp-controller="Brand" asp-action="Update" class="form-group " method="post">

        <input type="hidden" asp-for="BrandID" />
        <label>Brand Name</label>
        <br />
        <input type="text" class="form-control col-4" asp-for="BrandName" />
        <h3> <span asp-validation-for="BrandName"></span></h3>
        <br />
       
      


        <button class="btn btn-success">Update</button>


    </form>

</div>
